apiVersion: v1
baseDomain: example.com 
compute:
- name: worker
  replicas: 0 
controlPlane:
  name: master
  replicas: 3
metadata:
  name: ocp4poc 
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
networkType: OpenShiftSDN
serviceNetwork: 
- 172.30.0.0/16
platform:
  none: {}
pullSecret: '{"auths": ...}' 
sshKey: 'ssh-ed25519 AAAA...' 
